body {
	font: 18px sans-serif;
        background-image: url('../images/1-7.jpg');
        background-size: cover;
}
#experiment {
	/* -moz-perspective: 400;
	-webkit-perspective: 400; */
	perspective: 400px;
	perspective-origin: 50% 100px;
}
#cube {
	position: relative;
	margin: 50px auto 0;
	height: 400px;
	width: 400px;
	transition: transform 2s linear;
	transform-style: preserve-3d;
	top: -116px;
}
.face {
	position: absolute;
	height: 180px;
	width: 180px;
	padding: 10px;
	background-color: rgba(25, 25, 75, 0.5);
	line-height: 1em;
	color: white;
	border: 1px solid dimgray;
	border-radius: 3px;
}
#cube .top  {
	transform: rotateX(90deg) translateZ(100px);
}
#cube .front {
	transform: translateZ(100px);
}
#cube .right {
	transform: rotateY(90deg) translateZ(100px);
}
#cube .back {
	transform: rotateY(180deg) translateZ(100px);
}
#cube .left {
	transform: rotateY(-90deg) translateZ(100px);
}
#cube .bottom {
	transform: rotateX(-90deg) translateZ(100px);
}

.face.top{
    background-image: url('../images/3x3.jpg');
    background-size: contain;
}
.face.bottom{
    background-image: url('../images/city stones.jpg');
    background-size: contain;
}
.face.left{
    background-image: url('../images/Tom und Mikael.jpg');
    background-size: contain;
}

.face.right{
    background-image: url('../images/caballo.JPG');
    background-size: contain;
}
.face.back{
    background-image: url('../images/feet.JPG');
    background-size: contain;
}
